<?xml version="1.0"?>
<launch>
  <arg name="model" default="empty" />
  <arg name="enable_gui" default="true" />
  <arg name="paused" default="false" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="paused" default="$(arg paused)"/>
    <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find social_worlds)/models/:$(find social_worlds)/models/3dparty/"/>
    <!-- <env name="GAZEBO_PLUGIN_PATH" value="/home/fagner/gazebo_plugin_tutorial/build"/> -->
    <arg name="world_name" default="$(find social_worlds)/worlds/$(arg model).world"/>
    <arg name="gui" default="$(arg enable_gui)"/>
  </include>
  
</launch>
