<launch>
  <arg name="model" default="empty" />
  <arg name="enable_gui" default="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <env name="GAZEBO_MODEL_PATH" value="$(find social_worlds)/models/"/>
    <arg name="world_name" default="$(find social_worlds)/worlds/$(arg model).world"/>
    <arg name="gui" default="$(arg enable_gui)"/>
  </include>

</launch>
